



#include "Resource.h"
#include <winresrc.h>



LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_GR1		RSRC			".\\Misc\\Grass.x"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_GR2		RSRC			".\\Misc\\Grass2.x"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_GR3		RSRC			".\\Misc\\Grass3.x"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_GNM		RSRC			".\\Misc\\Gnome.x"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_MIN		RSRC			".\\Misc\\MowerMini.x"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_MOV		RSRC			".\\Misc\\MowerMover.x"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_MNT		RSRC			".\\Misc\\MowerMonster.x"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_MSO		RSRC			".\\Misc\\StoneOrnament.x"


//LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
//IDR_RSRC_MTR		RSRC			".\\Misc\\Tree.x"


//LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
//IDR_RSRC_MTB		RSRC			".\\Misc\\TreeBeehive.x"


//LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
//IDR_RSRC_MCT		RSRC			".\\Misc\\Cat.x"


//LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
//IDR_RSRC_MDG		RSRC			".\\Misc\\Dog.x"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_MRB		RSRC			".\\Misc\\Rabbit.x"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_MHL		RSRC			".\\Misc\\Molehill.x"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_BNI		RSRC			".\\Misc\\Button_Inactive.png"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_BNA		RSRC			".\\Misc\\Button_Active.png"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_BNP		RSRC			".\\Misc\\Button_Pressed.png"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_BND		RSRC			".\\Misc\\Button_Disabled.png"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_TGB		RSRC			".\\Misc\\Grass Blade.jpg"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_TSG		RSRC			".\\Misc\\Seamless_grass.jpg"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_TDT		RSRC			".\\Misc\\Dirt.jpg"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_TSP		RSRC			".\\Misc\\SunPainting.jpg"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_SGL		RSRC			".\\Misc\\Guitar Loop.wav"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_SDC		RSRC			".\\Misc\\SndClick.wav"


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
IDR_RSRC_SDH		RSRC			".\\Misc\\SndHover.wav"

